* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: black;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    padding: 0 8vw;
}

.logo_img {
    height: 50px;
}

.right_column {
    display: flex;
    align-items: center;
    gap: 3vw;
  
}

.right_column a {
    opacity: 0.6;
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

#current3,
.right_column .club {
    opacity: 1;
    gap: 6px;
    color: white;
    display: flex;
    align-items: center;
    height: 70px;
}

.club {
    height: 40px;
}

.right_column a {
    display: inline-flex;   
    transform: scale(1);      
    transition: transform .3s ease;
}

.right_column a:hover {
    transform: scale(1.15);
}

.profile {
    background-color: blanchedalmond;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.club {
    text-decoration: none;
   height: 50px;
}

